@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: #f4f4f9;
    color: #333;
    box-sizing: border-box;
}
main {
    flex: 1; /* Faz o conteúdo principal crescer e empurrar o rodapé para baixo */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container {
    background: white;
    padding: 30px 40px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 480px;
    animation: fadeIn 0.8s ease-in-out;
}
.logo-container {
    margin-bottom: 20px;
}
.logo {
    max-width: 180px;
    height: auto;
}
.section {
    margin-bottom: 25px;
}
h2 {
    color: #333;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 600;
}
h4 {
    color: #555;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
}
input {
    width: 95%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: border-color 0.3s, box-shadow 0.3s;
}
input:focus {
    border-color: #28a745;
    box-shadow: 0 0 8px rgba(40, 167, 69, 0.2);
    outline: none;
}
button {
    width: 100%;
    padding: 12px 15px;
    border: none;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
button:hover {
    background-color: #218838;
    transform: translateY(-2px);
}
#qrcode-container {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
    display: none;
    flex-direction: column;
    align-items: center;
}
#qrcode {
    padding: 10px;
    background: white;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    line-height: 0;
}
.btn-download {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s;
    display: none;
    margin-top: 20px;
}
.btn-download:hover {
    background-color: #5a6268;
}

/* ESTILO DA BARRA DE RODAPÉ ATUALIZADO */
footer {
    width: 100%;
    background-color: #515253; /* Cor escura para a barra */
    color: #f8f9fa; /* Cor clara para o texto */
    text-align: center;
    padding: 8px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Sombra sutil no topo da barra */
}
footer p {
    margin: 0;
    font-size: 14px;
}